body[data-theme="light"] {
  --text-color: black;
  --background-color: white;
  --background-color-darker: #e5e5e5;
  --background-color-darkest: #d9d9d9;
}

body[data-theme="dark"] {
  --text-color: white;
  --background-color: black;
  --background-color-darker: #262626;
  --background-color-darkest: #333;
}

body {
  --square-light-color: #EEE;
  --square-dark-color: #AAA;
}
