body[data-theme="light"] {
  --background-color: white;
  --text-color: black;
}

body[data-theme="dark"] {
  --background-color: black;
  --text-color: white;
}

body {
  --square-light-color: #EEE;
  --square-dark-color: #AAA;
}
